@Scripts.Render("/Scripts/Home/Index.js")
@Scripts.Render("/Scripts/Home/Categori.js")
@Scripts.Render("/Scripts/Home/TypeAd.js")
<link href="~/Content/Home/Index.css" rel="stylesheet">

<button onclick="GetAllAd()">Архив реклам</button>
<button onclick="SeeAdAdd()">Добавить рекламу</button>
<button onclick="GetCategory()">Категории</button>
<button onclick="GetTypeAd()">Типы</button>


<div id="tableBlock"></div>
<div id="catBlock"></div>
<div id="typeBlock"></div>
<div id="editBlock"></div>
<div id="addBlock"></div>

